name: Build and upload to Tour de Cloud

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Upload app to TdC
        uses: Student-Cyber-Games/upload-app@v1
        with:
          tdc_token: ${{ secrets.TDC_TOKEN }}
